# target
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_ramips_mt76x8_DEVICE_vocore_vocore2=y

# images
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y

# debug & driver
CONFIG_KERNEL_DEVMEM=y
CONFIG_KERNEL_DEVKMEM=y
CONFIG_PACKAGE_mem=y
CONFIG_PACKAGE_mt7628tool=y

# serial port
CONFIG_PACKAGE_gkermit=y
CONFIG_PACKAGE_lrzsz=y

# sound
CONFIG_PACKAGE_kmod-i2c-core=y
CONFIG_PACKAGE_kmod-i2c-mt7628=y
CONFIG_PACKAGE_kmod-sound-mt7628=y
CONFIG_PACKAGE_alsa-utils=y

# usbdisk
CONFIG_PACKAGE_kmod-usb-storage=y

# sdcard
CONFIG_PACKAGE_kmod-sdhci-mt7620=y

# filesystem
CONFIG_PACKAGE_kmod-fs-vfat=y

# wireless network
CONFIG_PACKAGE_kmod-mt76=y

# web config
CONFIG_PACKAGE_luci=y
