# target
BR2_mipsel=y
BR2_mips_32r2=y

# toolchain
BR2_TOOLCHAIN_BUILDROOT_VENDOR="mt76x8"
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_PACKAGE_HOST_GDB=y

# kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_VOCORE2_PATH)/board/vocore2/linux/"
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_VOCORE2_PATH)/board/vocore2/linux/linux-5.15.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_DTB_IS_SELF_BUILT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="vocore2"
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y

# package
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_VOCORE2_PATH)/board/vocore2/busybox/busybox-extra.config"

# image
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_INITRAMFS=y

# uboot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_USE_CUSTOM_CONFIG=y
BR2_TARGET_UBOOT_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_VOCORE2_PATH)/../uboot/vocore2_defconfig"
BR2_TARGET_UBOOT_PATCH="$(BR2_EXTERNAL_VOCORE2_PATH)/../uboot/patches/"
BR2_TARGET_UBOOT_NEEDS_DTC=y
# BR2_TARGET_UBOOT_FORMAT_BIN is not set
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-with-spl.bin"
